
.welcome-notes {
    margin-top: 70px;
    padding-top: 20px;
    
}
.side-panel {
    margin-top: 70px;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    height: 100%;

}
.advertisement {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}
.advertisement-item {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
}
.advertisement-item img, .advertisement-item video {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}
footer{
    position: relative;
    z-index: 1;

}